.calculator {
    width: 300px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

.display {
    margin-bottom: 20px;
}

.display input {
    width: 100%;
    padding: 10px;
   
    border: 1px  rgb(35, 29, 29);
    font-size: 18px;
    text-align: right;
    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button {
    width: 100%;
    padding: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.buttons button:hover {
    background-color: rgb(92, 119, 239)
}

.operator {
    background-color: white; 
    color: black;
}

